<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0c233fb9-6402-45fa-b23b-2d47b1468819/resourceGroups/DefaultResourceGroup-NEU/providers/Microsoft.Web/sites/DsoEuroApi</ResourceId>
    <ResourceGroup>DefaultResourceGroup-NEU</ResourceGroup>
    <ApiResourceId>/subscriptions/0c233fb9-6402-45fa-b23b-2d47b1468819/resourceGroups/DefaultResourceGroup-NEU/providers/Microsoft.ApiManagement/service/dspeuroapimanagement/apis/dspeuroapi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dsoeuroapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>a55c5542-9c7b-4a34-932c-05daf36ced0c</ProjectGuid>
    <MSDeployServiceURL>dsoeuroapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DsoEuroApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DsoEuroApi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>